@charset "utf-8";

/* Footer */

footer{
  padding: 50px;
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  column-gap: 10px;
  background-color: rgb(85, 85, 85);
}

footer div h4{
  padding-bottom: 5px;
}

footer img{
  padding-top: 10px;
  display: block;
  max-width: 90%;
  height: auto;
  transition: all 0.3s ease;
}

footer img:hover{
  transform: scale(1.1,1.1);
  transition: all 0.3s ease;
}

.Apoio, .Apoio a{
  display: flex;
}

.linksSocial li{
  list-style-type: none;
  font-size: 0.85em;
  padding-top: 5px;
}

.linksSocial a{
  text-decoration: none;
  color: white;
}

.linksSocial a:hover{
  text-decoration: underline;
}

.fab, .fas, .far{
  color: lightseagreen;
  padding-right: 5px;
}

.copyright p{
  color: white;
  text-align: justify;
  font-weight: 300;
  padding: 20px 20px;
  background: #333;
}

.copyright a{
  color: #00B4DB;
  text-decoration: none;
}

.copyright a:hover{
  color: rgb(0, 146, 179);
  text-decoration: underline;
}

@media screen and (max-width: 1000px){
  footer{
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
  }

  .Apoio{
    flex-direction: column;
  }

  footer img{
    max-width: 30vw;
  }

}

@media screen and (max-width: 600px){
  footer{
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 20px;
  }

  footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .endereco{
    text-align: center;
  }

  footer img{
    max-width: 40vw;
  }
  .copyright{
    font-size: 0.9em;
  }
}