@charset "utf-8";

/* Footer */

footer{
  padding: 50px;
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  background-color: rgb(85, 85, 85);
  margin: 15px 0 0;
}



footer div h4{
  padding-bottom: 5px;
}

footer img{
  padding-top: 10px;
  display: block;
  max-width: 90%;
  height: auto;
  transition: all 0.3s ease;
}

footer img:hover{
  transform: scale(1.1,1.1);
  transition: all 0.3s ease;
}

.Apoio{
  display: flex;
}

footer li{
  list-style-type: none;
  font-size: 0.85em;
  padding-top: 5px;

}

.fab, .fas, .far{
  color: lightseagreen;
  padding-right: 5px;
}