.modal {
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;

  width: 100vw; 
  height: 100vh;


  background-color: rgba(0,0,0,0.4); 
} 

.bloco_modal {
  width: 300px;
  height: 350px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 1fr;
  z-index: 1;
  border-radius: 3px;
  background-color: #fff;
}

#modal_header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1FC9BB;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
}

#secoes_modal, #modal_content, #modal_header {
  padding: 0 10px;
}

#modal_close {
  cursor: pointer;
}

#modal_secoes {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  border-bottom: 0.1em solid #1FC9BB;
}

.modal_secao:hover {
  color: #1FC9BB;
  cursor: pointer;
}

#modal_content {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;

  justify-self: center;
  align-self: center;
}
