* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
.programacao {
    display: grid;
    grid-template-columns: 1fr;
    width: 50vw;
    
}

.div_palestras {
    grid-row-gap: 0.5em;
    border: 0.1em solid orange;
    border-top: none;
}
.palestras {
    grid-row-gap: 0.5em;
    padding: 8px;
}

.palestras > div{
    border: 0.1em solid orange;
    background-color: orange;
    color: white;
}

.dias {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.dias > div {
    text-align: center;
}

#palestras-segunda {
    display: grid;
}

#palestras-terca {
    display: none;
}

#palestras-quarta {
    display: none;
}

#palestras-quinta {
    display: none;
}

#palestras-sexta {
    display: none;
}

#Segunda {
    border: 0.1em solid orange;
    border-bottom: none;
}
#Terca, #Quarta, #Quinta, #Sexta {
    border-bottom: 0.1em solid orange;
}
.dia:hover {
    background-color: orange;
    color: white;
}