#secao_programacao {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.programacao {
    display: grid;
    grid-template-columns: 1fr;
    width: 50vw;
    
}

.div_palestras {
    grid-row-gap: 0.5em;
    border: 0.1em solid orange;
    border-top: none;
}
.prog_palestras {
    grid-row-gap: 0.5em;
    padding: 8px;
}

.prog_palestras > div{
    border: 0.1em solid orange;
    background-color: orange;
    color: white;
}

.dias {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.dias > div {
    text-align: center;
}

#palestras-segunda {
    display: grid;
}

#palestras-terca, #palestras-quarta, #palestras-quinta, #palestras-sexta {
    display: none;
}

#Segunda {
    border: 0.1em solid orange;
    border-bottom: none;
}
#Terca, #Quarta, #Quinta, #Sexta {
    border-bottom: 0.1em solid orange;
}
.dia:hover {
    background-color: orange;
    color: white;
}

