* { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

.sac-section {
  padding: 30px 0;
}

/* .sac-section h2 {
  font-size: 2.2em;
  text-align: center;
  letter-spacing: 5px;
  margin: 20px 0;
  font-weight: 600px;
} */

/* Home page */

.image{
  background: url('../img/Home_Background.png') center center no-repeat rgba(0,92,158, 0.5);
  overflow: hidden; 
  background-size: cover;
}

.home{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  
  background: rgba(0, 179, 219, 0.6);
}

.titulo{
  font-size: 3em;
  word-spacing: 0.08em;
  text-transform: uppercase; 
  text-align: center;
  color: white;
  
}

.subtitulo{
  font-size: 2em;
  text-align: center;
  color: white;
  padding: 8px 16px;
}

.home a{
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  padding: 8px 40px;
  border:  #fff 1px solid;
  background-color: rgba(0,0,0,0);
  letter-spacing: 0.25em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.home a:hover{
  background-color: #fff;
  transition: background-color 0.3s ease;
  color: orange;
}

/* Fim Home page */


/* Inicio dos itens da SAC*/

.itens {
  display: flex;
  flex-direction: column;
}

.itens h2{
  align-self: center;
  font-weight: bold;
  color: #00B4DB;
  border-bottom: 2px solid #00B4DB;
}

.imagens h2{
  color: #fff;
  border-bottom-color: #fff;
}

.imagens img{
  max-width: 30vw;
  height: auto;
  align-self: center;
  transition: all .5s ease-in-out;
}

.imagens img:hover{
  filter: brightness(150%);
}

.imagens{
  display: flex;
}

.blue-bg, .orange-bg {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  transition: .25s ease;
}

.orange-bg{
  border-left: 0.2px solid #fff;
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.blue-bg{
  border-right: 0.2px solid #fff;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.orange-bg:after {
  right: 0;
}
.blue-bg:hover {
  width: 70%;
}
.blue-bg:hover + .blue-bg {
  width: 30%;
}
.orange-bg:hover {
  width: 70%;
}
.orange-bg:hover + .blue-bg {
  width: 30%;
}

.brindes{
  display: flex;
  justify-content: center;
} 

.brindes img{
  max-height: 15vh;
  margin: 10px;
  filter: saturate(20%);  
  transition: all .3s ease-out;
}

.brindes img:hover{
  filter: saturate(100%);
}

/*Mapa da SAC*/

.mapaSAC{
  display: flex;
  flex-direction: column;
}

.mapaSAC h2{
  color: #00B4DB;
  align-self: center;
  border-bottom: 2px solid #00B4DB;
}

#mapa{
  height: 400px;
  margin: 0px 20px;
}

/*Fim do Itens da SAC*/

@media screen and (max-width: 1000px){
  body{
    font-size: 12px;
  }

  .titulo{
    margin: 0px 20%;  
  }

  .subtitulo{
    padding: 0;
    margin: 16px 20%;
  }

  .brindes img{
    max-height: 10vh;
    filter: none;
  }

  .imagens img{
    max-width: 55vw;
  }

  #mapa{
    margin: 0px;
  }
}

/* Colors

orange = #FDB122 / #fa7c30
darker-orange: #fa7c30;
standard-blue: #1fc9bb / #005C9E;
darker-blue: #2361CC;
grey: #D3D3D3;

gradient : dark blue->light blue;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

*/
