* { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

p{
    font-weight: 200;
    color: #333333;
}

header{
    padding: 20px;
    display:grid;
    grid-template-areas: "title nav";
    justify-content: space-between;

    background-color: #dddddd;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}

.title, .nav{
    padding: 10px 16px;
}

.title{
    grid-area: title;
    align-self: center;
}

.nav{
    grid-area: nav;
    align-self: center;
}

.nav a{
    color: black;
}

.content h2{
    margin: 10px 0px;
    border-bottom: 5px solid #00a5a5;
}

.side{
    grid-area: side;
    padding: 10px 20px;
}

.side section{
    top:0;
    position: sticky;
}

.side a{
    text-decoration:none;
    font-size: 1.25em;
    margin: 8px 0px;
    padding: 8px 16px;
    background-color: #00a5a5;
    color: white;
}

.main{
    grid-area: main;
    padding: 10px 36px;
}

.content{
    display: grid;
    grid-template-areas: "main side";
    grid-template-columns: 2.5fr 1fr;
}

section{
    display: grid;
    justify-items: start;

}

section p{
    padding: 10px 0px;
}

.imagens{
    display: flex;
    justify-content: space-around;
    padding: 16px;

}

.imagens div{
    border: 1px dashed black;
    margin: 10px;
    text-align: center;
}

.imagens h2, .imagens h3{
    border-bottom: none;
    padding: 8px 0px;
}

.imagens div img{
    margin: 10px;
    max-width: 30%;
    height: auto;
}

.imagens div p{
    margin: 0px 50px;
    word-spacing: 0.25em;
    line-height: 1.25em;
}


footer{
    display: flex;
    justify-content: space-around; 
    height: 10vh;
    background-color: #00a5a5;
}


footer a{
    font-size: 1.5em;
    padding: 7px 50px;
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    text-decoration: none;
    align-self: center;
}

footer a:hover{
    transform:scale(1.1,1.1);
    background-color: orange;
}


