/* Workshops */

.workshops {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  height: 600px;
}

.workshops h2 {
  color: #fff;
  border-color: #fa7c30;
}

.workshops h3 {
  font-size: 2.5em;
  color: #fff;
}

.workshops-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-align: center;
  color: #fff;
  margin: 20px 0px;
}

.workshops-items section {
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: rgb(253, 177, 34);
  background: url('computer.svg') #fdb122 no-repeat;
  background-size: 70%;
  background-position: center;
  transition: transform 1s ease;
}

.workshops-items section:hover {
  transform: scale(1.1);
}


.workshops-items p {
  width: 150px;
  transition: all 0.5s;
  color: #fff;
}

.names li{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: .5s ease;
  list-style: none;
  max-width: 150px;
}

.division {
  width: 400px;
  margin: 20px auto;
  border-bottom: 3px solid #fdb122;
  border-radius: 25px;
}

.description {
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

/* Fim Workshops */