<div id="Sobre">
    <h1>Sobre a Semana Acadêmica da Computação</h1>
    <img src="" alt="">
    <h2>O que é a SAC?</h2>
        <p>Criada em 2006, a Semana Acadêmica da Computação é 
        um evento tradicional de extensão do Departamento de Computação da Universidade Federal do Ceará, 
        realizado pelo PET Computação.</p>
    <h2>Por que eu devo ir à SAC?</h2>
        <p>A SAC tem o objetivo de complementar as atividades curriculares, oferecendo aos alunos e à comunidade em geral, 
        a oportunidade de conviver e interagir com diversas áreas da Computação,
        ideias criativas, aplicações reais e soluções empresariais.</p>
</div>