<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<title>XIV Semana Acadêmica da Computação</title>
	<!-- Fonte Roboto -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800" rel="stylesheet">

	<!-- Icones -->
	
	<!-- CSS -->
	<link rel="stylesheet" href="../css/subscription.css">

</head>

<body>
    <header>
        <h1 class="title">INSCRIÇÕES</h1>
        <h4 class="nav"><a href="../index.html">HOME</a> > INSCRIÇÕES </h4>
	</header>

	<div class="content">
			<div class="side">
				<section>
						<h2>INSCRIÇÃO</h2>
						<a href="#">INSCREVA-SE</a>
						<h2>DÚVIDAS</h2>
						<p>Em caso de dúvidas envie um email para <strong>petcomp@ufc.br</strong></p>
				</section>
			</div>

		<div class="main">
			<section>
				<h2>POR QUE PRECISO ME INSCREVER PARA SAC?</h2>
				
				<p>Nessa edição da SAC você precisará adquirir os ingressos através da plataforma Sympla.<br/>
					<br/>
					Para participar da parte gratuita do evento, também é preciso realizar a inscrição no sistema para que possamos colher informações,
					evitar filas e ter uma melhor organização no evento. <br/>
					Para receber o certificado de participação com a carga horária equivalente às palestras assistidas durante o evento, é necessário
					realizar a inscrição. <br/>
					<br/>
					As únicas atividades pagas do evento são os workshops e os minicursos oferecidos. Ambos possuem limite de inscrições. Então
					garanta já o seu!</p>
			</section>

			<section>
				<h2>TIPOS DE INGRESSO</h2>
				<div class="imagens">
					<div>
						<img src="../img/parceiro_Teste.png"/>
						<h2>INGRESSO ÚNICO</h2>
						<h3>GRATUITO</h3>
						<p>Este ingresso dá livre acesso às palestras, mesas-redondas e exposições.<br/>
							<br/>
							Serão realizados check-ins
							durante o evento para serem
							contabilizadas as horas de cada
							participante.<br/>
							<br/>
							Dá direito à certificado de
							participação com a carga
							horária contabilizada ao final do
							evento.<br/>
							<br/>
						</p>
					</div>
					<div>
						<img src="../img/parceiro_Teste.png"/>
						<h2>WORKSHOPS</h2>
						<h3>R$ 15</h3>
						<p>Os workshops possuem um valor fixo.<br/>
								<br/> 
								Ele dá direito à entrada no
								workshop escolhido e um
								certificado de participação com
								carga horária de 4 horas. O 
								check-in é realizado na entrada do
								workshop.<br/>
								<br/>
								As formas de pagamento são:
								Cartão de crédito, boleto
								bancário* e débito online.<br/></p>
					</div>
				</div>
				<p>*O sistema do Sympla só permite o pagamento com boleto bancario até 5 dias antes do evento</p>
			</section>

			<section>
				<h2>COMO ADQUIRIR MEUS INGRESSOS?</h2>
				
				<p>Todos os ingressos serão adquiridos unicamente pela plataforma Sympla. <br/>
					<br/>
					<strong>Ingresso único</strong><br/>
					<br/>
					Você irá escolher o tipo de ingresso Inscrição - GRATUITO, irá completar o formulário de inscrição e em seguida o ingresso estará
					disponível para download!<br/>
					O ingresso é individual e deve ser levado impresso no dia do evento. O credenciamento acontecerá nos turnos manhã e tarde durante
					todos os dias do evento.<br/>
					<br/>
					<strong>Workshops</strong><br/>
					<br/>
					Você irá escolher de quais workshops irá participar e irá adicionar UM ingresso do workshop escolhido ao seu pedido. Após preencher
					o formulário de inscrição e os dados de pagamento, o ingresso estará disponível para download!
					Você pode participar de quantos workshops quiser!<br/>
					O ingresso é individual e deve ser levado impresso no dia do workshop. O credenciamento acontecerá na entrada do workshop.
					Os workshops possuem limite de vagas. Então garanta já o seu!</p>
			</section>

			<section>
				<h2>DICA:</h2>
				<p>Escolha quais workshops e minicursos irá participar com antecedência e realize um só
						pedido. Assim você terá de preencher o formulário de inscrição apenas uma vez.</p>
			</section>
		</div>

		

	</div>

	<section class="subs">
		<a href="#">INSCREVA-SE</a>
	</section>

</body>

</html>